html {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #333;
  line-height: 1.2;
  overflow: hidden;
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img,
a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
  border: 0;
}

div {
  overflow: hidden;
}

@-webkit-keyframes next-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes next-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
}
@-ms-keyframes next-in {
  0% {
    opacity: 0;
    -ms-transform: translateY(150px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
}
@keyframes next-in {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes next-out {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-150px);
  }
}
@-moz-keyframes next-out {
  0% {
    opacity: 0;
    -moz-transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(-150px);
  }
}
@-ms-keyframes next-out {
  0% {
    opacity: 0;
    -ms-transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(-150px);
  }
}
@keyframes next-out {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(-150px);
  }
}
@-webkit-keyframes prev-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes prev-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
}
@-ms-keyframes prev-in {
  0% {
    opacity: 0;
    -ms-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
}
@keyframes prev-in {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes prev-out {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(150px);
  }
}
@-moz-keyframes prev-out {
  0% {
    opacity: 0;
    -moz-transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(150px);
  }
}
@-ms-keyframes prev-out {
  0% {
    opacity: 0;
    -ms-transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -ms-transform: translateY(150px);
  }
}
@keyframes prev-out {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(150px);
  }
}
.carousel-placeholder > li.next-in {
  -webkit-animation: next-in 0.5s;
  -moz-animation: next-in 0.5s;
  -o-animation: next-in 0.5s;
  animation: next-in 0.5s;
}

.carousel-placeholder > li.next-out {
  -webkit-animation: next-out 0.5s;
  -moz-animation: next-out 0.5s;
  -o-animation: next-out 0.5s;
  animation: next-out 0.5s;
}

.carousel-placeholder > li.prev-in {
  -webkit-animation: prev-in 0.5s;
  -moz-animation: prev-in 0.5s;
  -o-animation: prev-in 0.5s;
  animation: prev-in 0.5s;
}

.carousel-placeholder > li.prev-out {
  -webkit-animation: prev-out 0.5s;
  -moz-animation: prev-out 0.5s;
  -o-animation: prev-out 0.5s;
  animation: prev-out 0.5s;
}

.carousel {
  position: relative;
  max-width: 800px;
  min-height: 500px;
}

.carousel-placeholder {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.carousel-placeholder:before, .carousel-placeholder:after {
  content: " ";
  display: table;
}
.carousel-placeholder:after {
  clear: both;
}
.carousel-placeholder > li {
  position: absolute;
}
.carousel-placeholder .active {
  display: block;
}
.carousel-placeholder > li:not(.active) {
  display: none;
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}
.carousel-dots .on,
.carousel-dots li:hover {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.carousel-nav {
  position: absolute;
  bottom: 15%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 30px;
  margin-top: -10px;
  text-indent: -9999px;
  padding: 25px;
  border-radius: 25px;
  opacity: .6;
}
.carousel-nav:hover {
  opacity: .7;
}

.prev {
  left: 5%;
  margin-left: -10px;
  background: url("../img/arrow_left_white.png") no-repeat 15px 10px #333;
}

.next {
  right: 5%;
  margin-right: -10px;
  background: url("../img/arrow_right_white.png") no-repeat 15px 10px #333;
}

/*# sourceMappingURL=main.css.map */
