html {
	font-size: $base-font-size;
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $body-bg;
	color: $body-font-color;
	line-height: 1.2;
	overflow: hidden;
	font-size: $font-size-text;
	font-family: $font-family-sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	background-color: transparent;
	&:active,
	&:hover {
		outline: 0;
	}
}

img {
	@include img-responsive;
}

label {
	cursor: pointer;
	text-decoration: none;
}