<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="c-carousel" noscript>
	<template>
		<link rel="stylesheet" href="carousel-component.css">
		<div class="wrap">
			<input type="radio" name="item" id="item1" checked="" />
			<input type="radio" name="item" id="item2" />
			<input type="radio" name="item" id="item3" />
			<input type="radio" name="item" id="item4" />
			<input type="radio" name="item" id="item5" />

			<div id="carousel">
				<div id="overflow">
					<div class="inner">
						<content select ="img"></content>
					</div>
				</div>
			</div>

			<div id="nav">
				<label for="item1"></label>
				<label for="item2"></label>
				<label for="item3"></label>
				<label for="item4"></label>
				<label for="item5"></label>
			</div>
			<div id="dots">
				<label for="item1"></label>
				<label for="item2"></label>
				<label for="item3"></label>
				<label for="item4"></label>
				<label for="item5"></label>
			</div>
		</div>
	</template>
	<script>

	</script>
</polymer-element>